* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  background-color: #d9cbb0;
  width: 200px;
  padding: 40px;
  color: #333;
}

.sidebar .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.sidebar nav a,
.mobile-menu a {
  display: flex;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

}

/* Main Content */
.main {
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  background-color: #fdfaf5;

}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 4px;
}

header p {
  color: #777;
  margin-top: 2px;
}

/* Card Options */
.options {
  border-top: 4px solid #f3d4a4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: #f6f1e7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3e8d7;
  border-radius: 6px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  font-size: 1.2rem;
  color: #333;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100px;
  height: 100px;
}

/* RESPONSIVIDADE */
@media (max-width: 770px) {

  

  .container {
    flex-direction: column;
  }

  .desktop-menu {
    display: none;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    top: 40px;
    right: auto;

    z-index: 1000;
    background-color: #d9cbb0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    width:  max-content;
    min-width: 150px;
  }

  .mobile-menu a {
    border-bottom: 2px solid #f3e0c4;
    border-right: 2px solid #f3e0c4;
    padding: 8px;
    border-radius: 4px;
  }

  .sidebar nav a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    gap: 6px;
    opacity: 0.8;
  }

  .sidebar .desktop-menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .footer {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (min-width: 771px) {

  .menu-toggle {
    display: none;
  }

  .sidebar nav {
    display: flex;
    flex-direction: column;
  }


  .desktop-menu {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 200px;
    padding: 40px;
  }

  .mobile-menu {
    display: none !important;

  }

  .logo {
    display: block;
  }
}