* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.main {
  background-image: url('../assets/background.svg');
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  background-color: #F3ECE3;
  width: 200px;
  padding: 4px;
  color: #333;
}

.logo {
  margin: 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.sidebar nav a,
.mobile-menu a {
  display: flex;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

}

/* Main Content */
.main {
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  background-color: #fdfaf5;

}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 4px;
}

header p {
  color: #777;
  margin-top: 2px;
}


/* RESPONSIVIDADE */
@media (max-width: 770px) {
  .container {
    flex-direction: column;
    height: auto;
    z-index: 1;
    position: relative;
  }

  .sidebar {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .sidebar nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sidebar nav a {
    margin-left: 0;
  }

  .desktop-menu {
    display: none;
  }

  .sidebar {
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;
    background-color: #F3ECE3;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    width: max-content;
    min-width: 150px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }

  .mobile-menu a {
    border-bottom: 2px solid #f3e0c4;
    border-right: 2px solid #f3e0c4;
    padding: 8px;
    border-radius: 4px;
  }

  .sidebar .desktop-menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .footer {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* @media (min-width: 771px) {
  
  .menu-toggle {
    display: none;
  }

  .sidebar nav {
    display: flex;
    flex-direction: column;
  }


  .desktop-menu {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 200px;
    padding: 8px;
  }

  .mobile-menu {
    display: none !important;

  }

  .logo {
    display: block;
  }
} */