.footer {
  background-color: #F3ECE3;
  padding: 20px;
  text-align: center;
  width: 100%;
  opacity: 0.8;
}

.footer p {
  display: inline;
  text-align: center;
  margin: 0 0.5rem;
  color: #1a1818;
  font-size: 0.8rem;

  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
}

.footer .system,
.footer .rights {
  row-gap: 0.5rem;
}