.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  /* desabilitar o scroll */
  touch-action: none;
  overflow: hidden;
}

.modal {
  background-color: #fdfaf5;
  padding: 30px;
  border-radius: 4px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #d9cbb0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  text-align: left;
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 0.9rem;
  letter-spacing: normal;
  margin-top: 0;
  font-weight: 600;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 8px;
}

.btn.btn-save,
.btn.btn-cancel {
  align-items: center;
  justify-content: center;

  padding: 10px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
  font-size: 1rem;
}

.btn-save {
  background-color: #22C55E;
  font-weight: bold;
  display: inline-block;
}

.btn-cancel {
  background-color: #EF4444;
  font-weight: bold;
  display: inline-block;
}



/* responsividade */
@media (max-width: 768px) {
  .modal-overlay {
    padding: 20px;
    overflow: hidden;
    touch-action: none;

  }

  .modal {
    width: 90%;
    padding: 20px;
  }

  .modal-title {
    font-size: 1.5rem;
  }

  form {
    gap: 8px;
  }

  .btn-save {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 95%;
    padding: 15px;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  form {
    gap: 6px;
  }

  .btn-save {
    padding: 6px;
    font-size: 0.8rem;
  }
}