.btn-home {
  background-color: #c3a473;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;

  display: flex;
  align-items: center;
}

.btn-home:hover {
  background-color: #b39564;
}

.arrow-left {
  padding: 2px;
  transition: transform 0.3s;
  transform: rotate(0deg);
}

.arrow-left {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #c3a473;
}

.container {
  display: flex;
  height: 100vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  justify-content: left;
  padding: 10px 10px 20px 40px;
}

.back-home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 40px;
}

.search-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #2e2e2e;
}

.search-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-left: 8px solid #c3a473;
}

.pet-photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  border: 2px solid #d9cbb0;
}

.pet-info {
  flex-grow: 1;
}

.pet-name {
  margin: 0;
  color: #2e2e2e;
}

.pet-detail {
  margin: 4px 0;
  color: #555;
}

.pet-status {
  margin: 4px 0;
  color: #888;
}

.pet-status strong {
  color: #c3a473;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

#border-search {
  border-top: 1px solid #c3a473;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.btn-adopt {
  background-color: #ff9800;
}

.btn-details {
  background-color: #1e88e5;
}

/* mobile responsive styles */
@media (max-width: 768px) {
  .back-home {
    margin: 20px 20px;
  }

  .search-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .btn-adopt,
  .btn-details {
    justify-content: center;
  }

  .search-container {
    padding: 20px;
  }

  .search-title {
    font-size: 1.5rem;
  }

  .search-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .pet-photo {
    width: 100%;
    height: max-content;
    margin-bottom: 12px;
  }

  .action-buttons {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    margin: 0 auto;
  }

  .btn {
    flex: 1 1 100%;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  }

  .btn-home{
    max-width: 50%;
  }
}