body {
  background-color: #f7f3eb;
  color: #333;
  margin: 0;
  padding: 0;
}

.filters-toggle {
  display: flex;
  justify-content: flex-end;

  margin: 20px;
  padding: 10px;
  padding: 0 20px;
  margin-top: 10px;
}

.back-home{
  padding: 8px 12px;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-toggle-filters {
  background-color: #c3a473;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: background-color 0.2s ease;
}

.btn-toggle-filters:hover {
  background-color: #b39564;
}

.filters select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-width: 150px;
}

.btn-adopt{
  background-color: #FFA500;
}

.btn-clear {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-clear:hover {
  background-color: #d32f2f;
}

.page-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.filters select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-width: 160px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.filters select:focus {
  border-color: #c3a473;
  outline: none;
  box-shadow: 0 0 0 2px rgba(195, 164, 115, 0.2);
}

.btn-clear {
  padding: 8px 14px;
  border: none;
  background-color: #e57373;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-clear:hover {
  background-color: #d14545;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  flex: 1;
  padding: 0 20px;
}

.search-container {
  border-top: 4px solid #c3a473;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  overflow-y: auto;
  justify-content: left;
}

/* Responsividade */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .filters select,
  .btn-clear {
    width: 100%;
  }

  .content {
    padding: 0 12px;
  }
}